.form_project  {width:450px; height:250px;}
.project  {width:450px; height:700px; margin-left: 520px;}
.edit_project {width:450px; height:50px;}
.valid_project {width:450px; height:50px;}
#valid_project{float:right;}
#edit_project{float:right;}
#cancel_edit_project{float:right;}
#save_edit_project{float:right;}