a.membership_head {
color: white;
background-image: url(img/buttons/membership_header.png);
width: 187px;
height: 21px;
font-weight: bold;
display: inline-block;
font-size: 14px;
text-decoration: none;
padding: 8px 28px 6px 5px;
margin: 0;
text-align: center;
}